.DS_Store
Thumbs.db
# arbitrary files
*.sql
*.tar.gz
*.zip
.vscode

# generated dirs
/src/wc-easycredit/vendor
node_modules

# strauss-related (prefix vendor dir)
bin/strauss.phar
/src/wc-easycredit/vendor-prefixed

# dev related
/build
/env
/docker-compose.override.yml
/wp-cli.local.yml
/wordpress
